# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.output/

# Environment variables - JANGAN PERNAH COMMIT INI
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Drizzle
drizzle/
